{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'icon/pngbarn.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900&display=swap" rel="stylesheet">

    <title>
        
        {% block title %}
            Base Page
        {% endblock %}
            
    </title>
</head>
<body>

        
    {% include 'utils/navbar.html' %}

      {% block body %}
          
      {% endblock %}
    <script src="{% static 'jquery/jquery.slim.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
          
</body>
</html>